@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #0b0f17;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* ============================
   Payment Modal Animation
============================ */

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}